body {
    background-color: #222222;
}

hr {
    border-color: #FFFFFF;
    border-width: 3px;
    
}

.footer {
    text-align: center;
    padding: 3px;
    background-color: #B31B1B;
    color: white;
}

.social {
    padding: 3px;
    color: #FFFFFF;
}

.social:hover{ color: #222222; }

.contentLink {
    padding: 3px;
    color: #FFFFFF;
}

.contentLink:hover{ color: #B31B1B; }



.introRow{
    padding: 25px;
    text-align: center;
    background-color: #B31B1B;
}

.introParagraph{
    margin-top: 10px;
    text-align: center;
    background-color: #B31B1B;
}

.contentRow{
    background-color: #222222;
}

.contentText{
    padding: 2%;
    color: #FFFFFF;
}

.headImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    border-radius: 50%;
    border: 5px solid #222222
}

.contentImage {
    margin-right: 20px;
    width: 80px;
    float: left;
    border-radius: 0%;
    border: 2px solid #FFFFFF
}

.projectImage {
    margin-right: 20px;
    height: 200px;
    float: left;
    border-radius: 0%;
    
}

.choraleImage {
    margin-right: 20px;
    height: 80px;
    float: left;
    border-radius: 0%;
    
}

.writingImage {
    margin-right: 20px;
    width: 100px;
    float: left;
    border-radius: 0%;
}

.introTexts{
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    color: #FFFFFF;
}