body {
    background-color: #222222;
}

hr {
    border-color: #FFFFFF;
    border-width: 3px;
    
}

h3:hover {
    color: #B31B1B;
}

#name:hover {
    color: #222222;
}

#intro:hover {
    color: #222222;
}


.footer {
    text-align: center;
    padding: 3px;
    background-color: #B31B1B;
    color: white;
}

.social {
    padding: 3px;
    color: #FFFFFF;
}

.social:hover{ color: #222222; }

.contentLink {
    padding: 3px;
    color: #FFFFFF;
}

.contentLink:hover{ color: #B31B1B; }



.introRow{
    margin-top: 5px;
    padding: 25px;
    text-align: center;
    background-color: #B31B1B;
}

.introParagraph{
    margin-top: 10px;
    text-align: center;
    background-color: #B31B1B;
}

.main{
    background-color: #222222;
}

.contentText{
    padding: 1%;
    color: #FFFFFF;
}

.headImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    border-radius: 50%;
    border: 5px solid #222222
}

.contentImage {
    margin-right: 20px;
    width: 80px;
    float: left;
    border-radius: 0%;
    border: 2px solid #FFFFFF
}

.projectImage {
    margin-right: 20px;
    height: 200px;
    float: left;
    border-radius: 0%;
    
}

.choraleImage {
    margin-right: 20px;
    height: 80px;
    float: left;
    border-radius: 0%;
    
}

.writingImage {
    margin-right: 20px;
    width: 100px;
    float: left;
    border-radius: 0%;
}

.introTexts{
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    color: #FFFFFF;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #FFFFFF;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #222222;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: #B31B1B;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: #B31B1B;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #222222;
    color: #FFFFFF;
}

#skillTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
#skillTable td, #customers th {
    border: 1px solid #222222;
    padding: 8px;
}

#skillTable tr:nth-child(even){
    background-color: #222222;
}

#skillTable tr:hover {
    background-color: #B31B1B;
}

#skillTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #B31B1B;
    color: white;
}